@mixin input{
    width: 377px;
    height: 75px;
    font-size: 1.5rem;
    outline: none;
    border: none;
    border: 2px solid white;
    border-radius: 15px;
    background: $color-p;
    color: white;
    font-family: $Font-kanit-Light;
    padding-left: 15px;
    padding-top: 5px;
    transition: 0.3s;
    background-color: rgb(69, 69, 69);
    cursor:not-allowed;
    &::placeholder{
        color: rgb(189, 189, 189);
        font-family: $Font-kanit-Light;
    }
    // &:focus{
    //     transition: 0.2s;
    //     border: 4px solid white;
    // }
}