.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-p;
    height: 100vh;
    .spline{
        width: 100%;
        height: auto;
    }
    .container{
        margin-left: 9.69%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 50%;
        color: white;
        ::selection{
            background: #ffffff;
            color: #2933B9;
        }
        h1{
            font-family: $Font-kanit-Regular; 
            font-size: 4rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }p{
            font-family: $Font-kanit-Light;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 300;
            line-height: normal; 
            padding-top: 5%;
            a{
                color: #fff;
                &::after {
                    content: "";
                    position: relative;
                    background-image: url("../../../src/assets/imgs/LogoTweetz.svg");
                    background-size: 100%;
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    margin-left: 5px;
                  }
            }
        }
    }.scroll{
        svg{
            position: absolute;
            left: 50%;
            bottom: 10%;
            width: 73px;
            height: 66px;
            overflow: hidden;
        }

    }
}