@font-face {
    font-family: "Kanit-black";
    src: url("./../../assets/fonts/Kanit/Kanit-Black.ttf");
}
@font-face {
    font-family: "Kanit-Light";
    src: url("./../../assets/fonts/Kanit/Kanit-Light.ttf");
}
@font-face {
    font-family: "Kanit-Extra-Light";
    src: url("./../../assets/fonts/Kanit/Kanit-ExtraLight.ttf");
}
@font-face {
    font-family: "Kanit-Regular";
    src: url("./../../assets/fonts/Kanit/Kanit-Regular.ttf");
}

body{
    overflow-x: hidden;
}
*{
    ::selection{
        background: #ffffff;
        color: #2933B9;
    }
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #ffff;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #2933B9;

}
