@font-face {
    font-family: "Kanit-black";
    src: url("./../../assets/fonts/Kanit/Kanit-Black.ttf");
}
@font-face {
    font-family: "Kanit-Light";
    src: url("./../../assets/fonts/Kanit/Kanit-Light.ttf");
}
@font-face {
    font-family: "Kanit-Extra-Light";
    src: url("./../../assets/fonts/Kanit/Kanit-ExtraLight.ttf");
}
@font-face {
    font-family: "Kanit-Regular";
    src: url("./../../assets/fonts/Kanit/Kanit-Regular.ttf");
}

body{
    overflow-x: hidden;
}