// @font-face {
//     font-family: "Kanit-Light";
//     src: url("https://fonts.gstatic.com/s/kanit/v7/nKCKOGGoMkG5t2A0b9Pv5p4tjLY.ttf") format('truetype');
//   }
  
//   @font-face {
//     font-family: "Kanit-ExtraLight";
//     src: url("https://fonts.gstatic.com/s/kanit/v7/nKKXOGGoMkG5t2A0f7Pv7hNVdoK8WQ.ttf") format('truetype');
//   }
  
//   @font-face {
//     font-family: "Kanit-Regular";
//     src: url("https://fonts.googleapis.com/css2?family=Kanit&display=swap") format('truetype');
//   }
  
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400&display=swap');




*{
    ::selection{
        background: #2933B9;
        color: #ffffff;
    }
}
body{
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #ffff;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #2933B9;

}
img{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
