$Font-kanit-black: "Kanit-black", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$Font-kanit-Light: "Kanit-Light", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$Font-kanit-Extra-Light: "Kanit-Extra-Light", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$Font-kanit-Regular: "Kanit-Regular", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$color-p: #2933B9;